<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Поновити інформацію про співробітника</title>
</head>
<body>
<form action="/update_emp.html" method="post">
    <select size="1" name="pib">
        currr
    </select>
    <select size="1" name="department">
        curr
    </select>
    <select size="1" name="position">
        cur
    </select>
    <input type="number" name="salary_per_hour" placeholder="Введіть заробітну плату/годину">
    <input type="number" name="hours_in_day" placeholder="Введіть кількість робочих годин в день">
    <input type="submit" value="Додати">
</form>
<p><i><a href="/"> На головну! </a></i></p>
<p>result</p>
</body>
</html>